<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.wxz.dao.UserMapper">

    <select id="getUserById" resultType="com.github.wxz.entity.User">
         SELECT
         id,
         `name`,
         email,
         sex,
         img,
         pass,
         mobile,
         `create`,
         `update`
         FROM
         wxz_zone_user
         WHERE
         id = #{id}
    </select>

    <select id="getUserByName" parameterType="java.lang.String" resultType="com.github.wxz.entity.User">
        SELECT
        id,
        `name`,
        email,
        sex,
        img,
        pass,
        mobile,
        `create`,
        `update`
        FROM
        wxz_zone_user
        WHERE
        `name` = #{name}
    </select>

    <select id="getUserByMobile" parameterType="java.lang.String" resultType="com.github.wxz.entity.User">
        SELECT
        id,
        `name`,
        email,
        sex,
        img,
        pass,
        mobile,
        `create`,
        `update`
        FROM
        wxz_zone_user
        WHERE
        `mobile` = #{mobile}
    </select>

    <update id="updateProfilePhoto" parameterType="com.github.wxz.entity.User">
        UPDATE
        wxz_zone_user
        SET
        img = #{img}
        ,
        `update` = now()
        WHERE
        id=#{id}
    </update>


    <update id="updatePassWord" parameterType="com.github.wxz.entity.User">
        UPDATE
        wxz_zone_user
        SET
        pass = #{pass}
        ,
        `update` = now()
        WHERE
        id = #{id}
    </update>

    <insert id="addUser"
            parameterType="com.github.wxz.entity.User"
            useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO
         wxz_zone_user
        ( `name`, email,`pass`,`img`,`mobile`,`sex`, `create`, `update`)
        VALUES
        ( #{name}, #{email},#{pass},#{img}, #{mobile}, #{sex}, now(), now());
    </insert>


</mapper>