server:
  port: 8080
  context-path: /framework
  session:
    timeout: 1800

spring:
  profiles:
    active: dev
  freemarker:
    cache: true
    request-context-attribute: cxt
    suffix: .ftl
  redis:
    database: 0
    password: redis
    host: 47.88.220.111
    port: 6380

mybatis:
     mapperLocations: classpath:/mapper/*.xml
     typeAliasesPackage: com.github.wxz.entity
     mapperScanPackage: com.github.wxz.dao
     configLocation: classpath:/mybatis/mybatis-config.xml

mysql:
  datasource:
    readSize: 2
    type: com.alibaba.druid.pool.DruidDataSource
    configLocation: classpath:/mybatis/mybatis-config.xml
    mapperLocations: classpath:/mapper/*.xml
    write:
        driver-class-name: com.mysql.jdbc.Driver
        minIdle: 5
        maxActive: 100
        initialSize: 10
        maxWait: 60000
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxPoolPreparedStatementPerConnectionSize: 50
        filters: stat
    read01:
         driver-class-name: com.mysql.jdbc.Driver
         minIdle: 5
         maxActive: 100
         initialSize: 10
         maxWait: 60000
         timeBetweenEvictionRunsMillis: 60000
         minEvictableIdleTimeMillis: 300000
         validationQuery: select 'x'
         testOnBorrow: false
         testOnReturn: false
         poolPreparedStatements: true
         maxPoolPreparedStatementPerConnectionSize: 50
         filters: stat
    read02:
         driver-class-name: com.mysql.jdbc.Driver
         minIdle: 5
         maxActive: 100
         initialSize: 10
         maxWait: 60000
         timeBetweenEvictionRunsMillis: 60000
         minEvictableIdleTimeMillis: 300000
         validationQuery: select 'x'
         testOnBorrow: false
         testOnReturn: false
         poolPreparedStatements: true
         maxPoolPreparedStatementPerConnectionSize: 50
         filters: stat
logging:
  config: classpath:log/logback.xml
  path: logs

